/******************************************************************************/
/* STYLE - for screen under 30rem in width */
/******************************************************************************/

body {
  padding: 1rem;
  max-width: 30rem;
}
main {
  padding-bottom: 4rem;
}
.jumbo {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
}
.content-list {
}
.content-list li {
  display: block;
  width: 100%;
  border-radius: .5rem;
  margin-bottom: 1rem;
  background-color: #333333;
  padding: .5rem;
}
.workout-list {
  text-align :center;
}
.exercise-list {
  text-align: left;
}
.exercise-list input[name="sets"], .exercise-list input[name="reps"] {
  width: 30%;
}
.exercise-list input[name="name"] {
  width: 100%;
  text-align: center;
  font-size: 125%; 
}
/******************************************************************************/
/* TYPE */
/******************************************************************************/
/* basic */
html,
h1, h2, h3, h4, h5, h6,
p,
a,
li,
i {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  word-wrap: break-word;
}

body {
  font-size: 1rem;
}

i, em {
  font-style: italic;
}


/* the rest */


/******************************************************************************/
/* LINKS */
/******************************************************************************/
a, a:link, a:visited, a:hover, a:focus, a:active {
  transition: all .4s;
}

a, .u-pseudoLink {
  border-bottom: 1px dotted;
}

a:hover, a:focus, a:active,
.u-pseudoLink:hover, .u-pseudoLink:focus, .u-pseudoLink:active {
  border-bottom: 1px solid;
}

/******************************************************************************/
/* COLOR */
/******************************************************************************/
/* fancy blue: #419BF9 */
/* text - color rules related to text */
html,
h1, h2, h3, h4, h5, h6,
p,
li {
  color: #333333;
}


/* links */
a, a:link, a:visited,
a:hover, a:focus, a:active,
.u-pseudoLink {
  color: #0091DA;
}


/* other color rules */
body {

}
main {

}
.content-list li, .content-list p {
  color: white;
}
/******************************************************************************/
/* UTILITIES */
/******************************************************************************/
.u-left {
  float: left;
}

.u-right {
  float: right;
}

.u-center {
  text-align: center;
}

/*
* There is empty space in the shape of an invisible element, while an absent
* element is completely removed.
*/
.u-isAbsent {
  display: none;
}
.u-isInvisible {
  visibility: hidden;
}

.u-textbutton, .u-textbutton:link, .u-textbutton:visited, .u-textbutton:hover, .u-textbutton:focus, .u-textbutton:active {
  color: white;
  background-color: #419BF9;
  padding: .5rem 1rem;
  border-radius: .5rem;
}
.u-button-bottom-right {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.u-button-bottom-left {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}
