/******************************************************************************/
/* STYLE - for screen under 30rem in width */
/******************************************************************************/
html, body, main {
  height: 100%;
}
body {
  padding: 1rem;
}
.jumbo {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
}
.workout-list-item {
  display: block;
  width: 80%;
  text-align: center;
  border-radius: .5rem;
  margin: 0 10% 1rem 10%;
  background-color: #333333;
  max-width: 20rem;
}
.plus-button {
  position: fixed;
  right: 1rem; 
  bottom: 1rem;
}
/******************************************************************************/
/* TYPE */
/******************************************************************************/
/* basic */
html,
h1, h2, h3, h4, h5, h6,
p,
a,
li,
i {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  word-wrap: break-word;
}

body {
  font-size: 1rem;
}

i, em {
  font-style: italic;
}


/* the rest */


/******************************************************************************/
/* LINKS */
/******************************************************************************/
a, a:link, a:visited, a:hover, a:focus, a:active {
  transition: all .4s;
}

a, .u-pseudoLink {
  border-bottom: 1px dotted;
}

a:hover, a:focus, a:active,
.u-pseudoLink:hover, .u-pseudoLink:focus, .u-pseudoLink:active {
  border-bottom: 1px solid;
}

/******************************************************************************/
/* COLOR */
/******************************************************************************/
/* text - color rules related to text */
html,
h1, h2, h3, h4, h5, h6,
p,
li {
  color: #333333;
}


/* links */
a, a:link, a:visited,
a:hover, a:focus, a:active,
.u-pseudoLink {
  color: #0091DA;
}


/* other color rules */
body {
  
}
main {
  background-color: white;
}
.workout-list-item {
  color: white;
}
/******************************************************************************/
/* UTILITIES */
/******************************************************************************/
.u-left {
  float: left;
}

.u-right {
  float: right;
}

.u-center {
  text-align: center;
}

/* 
* There is empty space in the shape of an invisible element, while an absent
* element is completely removed.
*/
.u-_isAbsent {
  display: none;
}

.u-_isInvisible {
  visibility: hidden;
}
/******************************************************************************/
/* Media query <= 30rem */
/******************************************************************************/
@media (min-width: 30rem) {
  html,
  h1, h2, h3, h4, h5, h6,
  p,
  a,
  li,
  i {
    font-size: 1rem;
  }
  .jumbo {
    font-size: 5rem;
  }
}