
/******************************************************************************/
/* TYPE */
/******************************************************************************/
html,
h1, h2, h3, h4, h5, h6,
p,
a,
li,
i {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  word-wrap: break-word;
}

body {
  font-size: 1rem;
}

i, em {
  font-style: italic;
}
/******************************************************************************/
/* LINKS */
/******************************************************************************/
a, a:link, a:visited, a:hover, a:focus, a:active {
  transition: all .4s;
}

a, .u-pseudoLink {
  border-bottom: 1px dotted;
}

a:hover, a:focus, a:active,
.u-pseudoLink:hover, .u-pseudoLink:focus, .u-pseudoLink:active {
  border-bottom: 1px solid;
}

/******************************************************************************/
/* COLOR */
/******************************************************************************/
/* TEXT - color rules related to text */
html,
h1, h2, h3, h4, h5, h6,
p,
li {
  color: #444444;
}

/* LINKS */
a, a:link, a:visited,
a:hover, a:focus, a:active,
.u-pseudoLink {
  color: #0091DA;
}

/* OTHER color rules */
body {
  background-color: #05ACFF;
}

main {
  background-color: white;
}
/******************************************************************************/
/* UTILITIES */
/******************************************************************************/
.u-left {
  float: left;
}

.u-right {
  float: right;
}

.u-center {
  text-align: center;
}

/* 
* There is empty space in the shape of an invisible element, while an absent
* element is completely removed.
*/
.u-_isAbsent {
  display: none;
}

.u-_isInvisible {
  visibility: hidden;
}
/******************************************************************************/
/* Media query <= 30rem */
/******************************************************************************/
@media (max-width: 30rem) {
  html,
  h1, h2, h3, h4, h5, h6,
  p,
  a,
  li,
  i {
    font-size: 1rem;
  }
}